.ShadowBagRoot {
    width: 300px;
    height: 400px;
    align: right bottom;
    margin-bottom: 250px; /* 避开物品栏 */
    margin-right: 10px;
    flow-children: down;
}

.ShadowBagRoot.Hidden {
    visibility: collapse;
}

.ShardCounter {
    flow-children: right;
    horizontal-align: right;
    background-color: #000000aa;
    padding: 5px;
    border-radius: 5px;
}

.ShardIcon {
    width: 24px;
    height: 24px;
    background-image: url("s2r://panorama/images/hud/icon_gem_small_png.vtex"); /* 暂用宝石图标 */
    background-size: 100%;
}

#ShardLabel {
    font-size: 24px;
    color: #A020F0; /* 紫色 */
    margin-left: 5px;
    font-weight: bold;
}

.ShopGrid {
    margin-top: 10px;
    flow-children: right-wrap;
    justify-content: flex-end;
}

.ShopItem {
    width: 64px;
    height: 80px;
    margin: 5px;
    background-color: #222;
    border: 1px solid #444;
    flow-children: down;
}

.ShopItem Image {
    width: 100%;
    height: 44px; /* standard item height ratio */
}

.ShopItem .Cost {
    font-size: 16px;
    color: #A020F0;
    horizontal-align: center;
}

.ShopItem .Desc {
    font-size: 10px;
    color: #aaa;
    horizontal-align: center;
    margin-top: -2px;
}

.ShopItem:active {
    border: 1px solid #A020F0;
}
